* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 5px;
    background-color: black;
}

.layout {
    
    gap: 5px;
    
}


.left {
    width: 25vw;
    margin: 0px;
    
}
.left .close{
    display: none;
}

.right {
    
    height: 89vh;
    width: 75vw;
}



.svg-size {
    width: 20px;
}

.main-svg {
    width: 95px;
}

.p-1 {
    padding: 15px 10px 10px 10px;
}

.left .home {

    padding-left: 20px;
}

.home ul li {
    list-style: none;
    width: 25px;
    gap: 20px;
    padding-top: 20px;
}

.home ul li:hover,
.home ul li img:hover {
    color: brown;
}

.invert {
    filter: invert(1);
}

.list {
    justify-content: space-between;
    gap: 5px;
}

.gap-1 {
    gap: 20px;
}

/* .logo {
    padding-bottom: 15px;
} */


/* .libarary {
    padding-top: 20px;
    margin-left: 0px;
} */

.li {
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    height: 69.5vh;
    flex-direction: column;
}


.header {
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .plus-btn {
    padding-right: 10px;
}

/* Liabarary Song List */

.songlist .list {
    padding: 0px 10px ;
    margin-bottom: 40px;
    overflow-y: scroll ;
    max-height: 50vh;
}

.songlist ul li {
    list-style: none;
    padding: 10px 10px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px 0px;
    gap: 15px;
    justify-content: space-between;
}

.songlist ul li .info{
    
    align-items: flex-start;  
}

.songlist ul li .info .song-name, .songlist ul li .info .song-artist  {
    font-size: 15px;
}

.songlist ul li .palynow {
    width: 100px;
    align-items: center;
   
    justify-content: center;
    margin-left: 20px;
    
}

.songlist ul li .palynow .pl-nw{
    font-size: 15px;
    padding-right: 10px;
}
.footer {
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: absolute;
    bottom: 70px;
    padding: 0px 17px 0px 17px;
    margin: 0px 0px 0px 0px
}

.footer div a {
    list-style: none;
    text-decoration: none;
}


/* Heder Componets CSS Start */

.right {
    height: 89vh;
    padding: 0;
    border-radius: 10px;
    position: relative;
    
}

.right .header-r {
    justify-content: space-between;
    align-items: center;
    background-color: rgb(39, 19, 19);
    border-radius: 10px;
    height: 50px;

}

.right div div button {
    background: rgb(54, 2, 2);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    gap: 5xp;
}


.right div div {
    margin: 10px;

}

.right div .ent-btn {

    gap: 10px;
    /* background-color: aqua; */
    padding: 5px;

}

.l-R-btn{
    display: flex;
}

.right div .ent-btn button {
    width: 95px;
    height: 40px;
}

.right div .ent-btn .sign-up {
    background-color: transparent;
    color: aqua;
    font-weight: bolder;
    font-size: 15px;
}


.right div .ent-btn .sign-up:hover {
    color: antiquewhite;
    zoom: 1;
}

.right div .ent-btn .log-in {

    border-radius: 20px;
    background-color: aqua;
    font-weight: bolder;
    font-size: 15px;
    color: black;
}

.right div .ent-btn .log-in:hover {
    background-color: rgb(59, 59, 78);
    color: aliceblue;
}

/* Heder Componets CSS End */

/* Artrista Saction Start */




.right .artist .art-head {
    padding-left: 20px;
    padding-right: 20px;

}

.right .artist .art-head .pl {
    font-weight: bolder;
    font-size: 25px;
    cursor: pointer;
}

.right .artist .art-head .pl a {
    text-decoration: none;
    color: aliceblue;
}

.right .artist .art-head .sl {
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.right .artist .art-head .sl a {
    text-decoration: none;
    color: aliceblue;
}


.right .artist .card {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    max-height: 70vh;
    overflow-y: auto    ;


}

.right .artist .artists-sec {
    padding-top: 10px;
    width: 190px;
    position: relative;
}

.right .artist .artists-sec .art-img {
    object-fit: contain;
    border-radius: 50%;
    width: 100%;

}

.right .artist .artists-sec .art-nm {
    padding-left: 0px;
    gap: 10px;

}


.play {
    position: absolute;
    background-color: rgb(35, 99, 35);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    top: 160px;
    left: 130px;
    opacity: 0;
    transition: all 1s ease-out;
}

.play-bar {
    position: fixed;
    bottom: 0px;
    background-color: antiquewhite;
    width: 100vw;
    padding: 15px;
    height: 40px;
    
    

}

.song-btn {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 12px;
    justify-content: center;
    margin-bottom: 10px;
}

*{
    color: aliceblue;
}


.seekbar {
    position: absolute;
    height: 4px;
    width: 95.4%;
    background: black;
    bottom: 10px;
    border-radius: 10px;
    margin: 5px;

}

.circle {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: black;
    bottom: 6.5px;
    transition: left 0.5s;
}
.font-colour{
    color: white;
}

.btn-width{
    width: 400px;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    width: 97%;
    left: 10px;
    align-items: center;
}

.abovebar .songinfo{
    padding-left: 10px;
   
}
.songtime {
    justify-content: flex-end;
}

.dus{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hamburgar{
    display: none;
}

@media (max-width: 1400px) {
    .left{
        background-color: black;
        position: absolute;
        left: -120%;
        transition: all 0.3s;
        z-index: 1;
        width: 330px;
        margin-left: 0;
        height: 85vh;
    }

    .left .close {
        display: flex;
        position: absolute;
        left: 200px;
        top: 20px; 
    }

    .li {
        padding-top: 10px;
        margin-top: 15px;
        display: flex;
        height: 45.5vh;
        flex-direction: column;
    }

    .songlist ul li .info{
        word-wrap: break-word;
        align-items: center; 
        width: 20px; 
        font-size: 1px;
    }


    .right {
    
        height: 81vh;
        width: 100vw;
        

    }
    .hamburgar{
        display: block;
    }

    
    
    .songlist .list {
    
        padding: 0px 10px ;
        margin-bottom: 10px;
        overflow-y: scroll ;
        max-height: 20vh;
    
    }
    
}