*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 5px;
    background-color: black;
}

.layout {
    column-gap: 20px;
}


.left{
    
    padding: 10px;
    width: 25vw;
}


.right{
    
    padding: 10px;
    width: 75vw;
}


.svg-size{
    width: 20px;
}

.main-svg {
    width: 95px;
}

.p-1 {
    padding: 15px 10px 10px 10px;
}

.left .home {

    padding-left: 20px;
}
.home ul li {
    list-style: none;
    width: 25px;
    gap: 20px;
    padding-top: 20px;
}

.home ul li:hover, .home ul li img:hover {
    color: brown;
}
.invert {
    filter: invert(1);
}

.list {
    justify-content: space-between;
    gap: 5px;
}

.gap-1 {
    gap: 20px;
}

/* .logo {
    padding-bottom: 15px;
} */


/* .libarary {
    padding-top: 20px;
    margin-left: 0px;
} */

.li {
    padding-top: 10px;
    
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
   

}

.header {
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 72vh;


}
.header .plus-btn{
    padding-right: 10px;
}

.footer {
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    
    
}


.footer div a {
    list-style: none;
    text-decoration: none;
}


/* Heder Componets CSS Start */

.right{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    max-height: 100vh;
    overflow: scroll;
}

.right .header-r{
    justify-content: space-between;
    align-items: center;
}

.right div div button{
    background: rgb(54, 2, 2);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 10px;
    padding: 10px;
}


.right div div{
    margin: 10px;

}

.right div .ent-btn {
    
    gap: 10px;
    /* background-color: aqua; */
    padding: 5px;

}

.right div .ent-btn button{
    width: 95px;
    height: 40px;
}

.right div .ent-btn .sign-up
{
    background-color: transparent;
    color: aqua;
    font-weight: bolder;
    font-size: 15px;
}

.right div .ent-btn .log-in {
    
    border-radius: 20px;
    background-color: aqua;
    font-weight: bolder;
    font-size: 15px;
}

/* Heder Componets CSS End */

/* Artrista Saction Start */


.right .artist .art-head{
    padding-left: 20px;
    padding-right: 20px;
    
}

.right .artist .art-head .pl{
    font-weight: bolder;
    font-size: 25px;
    cursor: pointer;
}

.right .artist .art-head .pl a {
    text-decoration: none;
    color: aliceblue;
}

.right .artist .art-head .sl{
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.right .artist .art-head .sl a {
    text-decoration: none;
    color: aliceblue;
}


.right .artist .card{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    
    
}
.right .artist .artists-sec {
    padding-top: 10px;
    width:  190px;
    position: relative;
}

.right .artist .artists-sec .art-img{
    object-fit: contain;
    border-radius: 50%;
    width: 100%;
    
}

.right .artist .artists-sec .art-nm{
    padding-left: 10px;
    gap: 10px;
    
}


.play {
    position: absolute;
    background-color: rgb(35, 99, 35);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    top: 160px;
    left: 130px;
    opacity: 0;
    transition: all 1s ease-out;
}

